<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcm.dao.business.IY23PropertyValueDao" >
  <resultMap id="resultMap" type="com.lcm.entity.pojo.Y23PropertyValue" >
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="enTitle" property="enTitle" />
    <result column="value" property="value" />
    <result column="prop_name_id" property="propNameId" />
    <result column="status" property="status" />
    <result column="sort" property="sort" />
    <result column="is_delete" property="isDelete" />
    <result column="create_time" property="createTime" />
    <result column="modify_time" property="modifyTime" />
  </resultMap>
  
  <resultMap id="ResultOfInteger" type="java.lang.Integer">  
    <result column="budget" property="budget" jdbcType="INTEGER" />  
  </resultMap> 
  
  <select id="select" resultMap="resultMap">
  	select * from y23_property_value where is_delete=0 
  </select>
  
  <select id="countParam" resultMap="ResultOfInteger">
    select count(*) budget from y23_property_value a where a.is_delete=0
    <if test="title != null">
  	and a.title like '%${title}%'
  	</if>
  	<if test="propNameId != null">
  	and a.prop_name_id=#{propNameId}
  	</if>
  </select>
  
  <select id="selectParam" resultMap="resultMap">
  	select * from y23_property_value a where a.is_delete=0
  	<if test="title != null">
  	and a.title like '%${title}%'
  	</if>
  	<if test="propNameId != null">
  	and a.prop_name_id=#{propNameId}
  	</if>
  	<if test="orderBy != null">
  	order by ${orderBy}
  	</if>
  	<if test="page != null">
  	limit #{page}, #{pageSize}
  	</if>
  </select>
  
   <select id="selectPk" resultMap="resultMap" parameterType="java.lang.Long" >
    select 
    *
    from y23_property_value
    where  is_delete=0
    and id = #{id}
  </select>
  
  <insert id="insert" parameterType="com.lcm.entity.pojo.Y23PropertyValue" useGeneratedKeys="true" keyProperty="id">
    insert into y23_property_value
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="enTitle != null" >
        enTitle,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="propNameId != null" >
        prop_name_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      is_delete,
      create_time,
      modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="title != null" >
        #{title},
      </if>
      <if test="enTitle != null" >
        #{enTitle},
      </if>
      <if test="value != null" >
        #{value},
      </if>
      <if test="propNameId != null" >
        #{propNameId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="sort != null" >
        #{sort},
      </if>
      0,
      now(),
      now()
    </trim>
  </insert>
  
  <update id="update" parameterType="com.lcm.entity.pojo.Y23PropertyValue" >
    update y23_property_value
    <set >
      <if test="title != null" >
        title = #{title},
      </if>
      <if test="enTitle != null" >
        enTitle = #{enTitle},
      </if>
      <if test="value != null" >
        value = #{value},
      </if>
      <if test="propNameId != null" >
        prop_name_id = #{propNameId},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="sort != null" >
        sort = #{sort},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete},
      </if>
      modify_time = now()
    </set>
    where id = #{id}
  </update>
</mapper>