<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcm.dao.business.IY23UserOrderitemDao">
  <resultMap id="resultMap" type="com.lcm.entity.pojo.Y23UserOrderitem">
    <id column="id" property="id" />
    <result column="orderId" property="orderId" />
    <result column="userId" property="userId" />
    <result column="goodsId" property="goodsId" />
    <result column="goods_name" property="goodsName" />
    <result column="cover" property="cover" />
    <result column="currentunitprice" property="currentunitprice" />
    <result column="quantity" property="quantity" />
    <result column="price" property="price" />
    <result column="totalprice" property="totalprice" />
    <result column="props" property="props" />
    <result column="propsStr" property="propsStr" />
    <result column="enPropsStr" property="enPropsStr" />
    <result column="weight" property="weight"/>
    <result column="is_delete" property="isDelete" />
    <result column="create_time" property="createTime" />
    <result column="modify_time" property="modifyTime" />
    
    <result column="enGoodsName" property="enGoodsName" />
    <result column="enCover" property="enCover" />

    <result column="commission" property="commission" />
  </resultMap>
  <resultMap id="ResultOfInteger" type="java.lang.Integer">  
    <result column="budget" property="budget" jdbcType="INTEGER" />  
  </resultMap> 
  
   <select id="select" resultMap="resultMap">
  	select a.* from y23_user_orderitem a
  	where a.is_delete=0 
  	order by create_time desc
  </select>
  
   <select id="selectPk" resultMap="resultMap" parameterType="java.lang.Long" >
    select a.*,b.enGoodName as enGoodsName,b.enCover from y23_user_orderitem a
  	left join y23_goods b on b.id=a.goodsId
  	where a.is_delete=0 
    and a.id = #{id}
  </select>
  
  <select id="countParam" resultMap="ResultOfInteger">
    select count(1) budget from y23_user_orderitem a
  	where a.is_delete=0 
  	
  	<if test="orderId != null">
  	and a.orderId = #{orderId}
  	</if>
  	
  	<if test="userId != null">
  	and a.userId = #{userId}
  	</if>
  	
  	<if test="goodsId != null">
  	and a.goodsId = #{goodsId}
  	</if>
  	
  	<if test="goodsName != null">
  	and a.goods_name like '%${goodsName}%'
  	</if>
  	
  	<if test="startTime != null">
  	and date_format(a.create_time,'%Y-%m-%d') &gt;= #{startTime}
  	</if>
  	<if test="endTime != null">
  	and date_format(a.create_time,'%Y-%m-%d') &lt;= #{endTime}
  	</if>
  </select>
  
  <select id="selectParam" resultMap="resultMap">
  	select a.*,b.enGoodName as enGoodsName,b.enCover from y23_user_orderitem a
  	left join y23_goods b on b.id=a.goodsId
  	where a.is_delete=0 
  	
  	<if test="orderId != null">
  	and a.orderId = #{orderId}
  	</if>
  	
  	<if test="userId != null">
  	and a.userId = #{userId}
  	</if>
  	
  	<if test="goodsId != null">
  	and a.goodsId = #{goodsId}
  	</if>
  	
  	<if test="goodsName != null">
  	and a.goods_name like '%${goodsName}%'
  	</if>
  	
  	<if test="startTime != null">
  	and date_format(a.create_time,'%Y-%m-%d') &gt;= #{startTime}
  	</if>
  	<if test="endTime != null">
  	and date_format(a.create_time,'%Y-%m-%d') &lt;= #{endTime}
  	</if>
  	
  	<if test="orderBy != null">
  	order by ${orderBy}
  	</if>
  	<if test="page != null">
  	limit #{page}, #{pageSize}
  	</if>
  </select>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.lcm.entity.pojo.Y23UserOrderitem">
    insert into y23_user_orderitem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null">
        orderId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="goodsId != null">
        goodsId,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="currentunitprice != null">
        currentunitprice,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="totalprice != null">
        totalprice,
      </if>
      <if test="props != null">
        props,
      </if>
      <if test="propsStr != null">
        propsStr,
      </if>
      <if test="enPropsStr != null">
        enPropsStr,
      </if>
      <if test="commission != null">
        commission,
      </if>
      <if test="weight != null">
        weight,
      </if>
        is_delete,
        create_time,
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null" >
        #{id},
      </if>
      <if test="orderId != null">
        #{orderId},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="goodsId != null">
        #{goodsId},
      </if>
      <if test="goodsName != null">
        #{goodsName},
      </if>
      <if test="cover != null">
        #{cover},
      </if>
      <if test="price != null">
        #{price},
      </if>
      <if test="currentunitprice != null">
        #{currentunitprice},
      </if>
      <if test="quantity != null">
        #{quantity},
      </if>
      <if test="totalprice != null">
        #{totalprice},
      </if>
      <if test="props != null">
        #{props},
      </if>
      <if test="propsStr != null">
        #{propsStr},
      </if>
      <if test="enPropsStr != null">
        #{enPropsStr},
      </if>
      <if test="commission != null">
        #{commission},
      </if>
      <if test="weight != null">
        #{weight},
      </if>
        0,
        now(),
        now()
    </trim>
  </insert>
  <update id="update" parameterType="com.lcm.entity.pojo.Y23UserOrderitem">
    update y23_user_orderitem
    <set>
      <if test="orderId != null">
        orderId = #{orderId},
      </if>
      <if test="userId != null">
        userId = #{userId},
      </if>
      <if test="goodsId != null">
        goodsId = #{goodsId},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName},
      </if>
      <if test="cover != null">
        cover = #{cover},
      </if>
      <if test="price != null">
        price = #{price},
      </if>
      <if test="currentunitprice != null">
        currentunitprice = #{currentunitprice},
      </if>
      <if test="quantity != null">
        quantity = #{quantity},
      </if>
      <if test="totalprice != null">
        totalprice = #{totalprice},
      </if>
      <if test="props != null">
        props = #{props},
      </if>
      <if test="propsStr != null">
        propsStr = #{propsStr},
      </if>
      <if test="enPropsStr != null">
        enPropsStr = #{enPropsStr},
      </if>
      <if test="commission != null">
        commission = #{commission},
      </if>
      <if test="weight != null">
        weight = #{weight},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>