<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcm.dao.business.IY23UserShoppingDao">
  <resultMap id="resultMap" type="com.lcm.entity.pojo.Y23UserShopping">
    <id column="id" property="id" />
    <result column="userId" property="userId" />
    <result column="orderId" property="orderId" />
    <result column="receivername" property="receivername" />
    <result column="receivermobile" property="receivermobile" />
    <result column="receiverarea" property="receiverarea" />
    <result column="receiveraddress" property="receiveraddress" />
    <result column="express" property="express" />
    <result column="expressnum" property="expressnum" />
    <result column="latitude" property="latitude" />
    <result column="longitude" property="longitude" />
    <result column="houseno" property="houseno" />
    <result column="is_delete" property="isDelete" />
    <result column="create_time" property="createTime" />
    <result column="modify_time" property="modifyTime" />
  </resultMap>
  <resultMap id="ResultOfInteger" type="java.lang.Integer">  
    <result column="budget" property="budget" jdbcType="INTEGER" />  
  </resultMap> 
  
   <select id="select" resultMap="resultMap">
  	select a.* from y23_user_shopping a
  	where a.is_delete=0 
  	order by create_time desc
  </select>
  
   <select id="selectPk" resultMap="resultMap" parameterType="java.lang.Long" >
    select a.* from y23_user_shopping a
  	where a.is_delete=0 
    and a.id = #{id}
  </select>
  
  <select id="countParam" resultMap="ResultOfInteger">
    select count(1) budget from y23_user_shopping a
  	where 1=1
  	
  	<if test="isDelete == null">
  	and a.is_delete=0 
  	</if>
  	
  	<if test="orderId != null">
  	and a.orderId = #{orderId}
  	</if>
  	
  	<if test="userId != null">
  	and a.userId = #{userId}
  	</if>
  	
  	<if test="startTime != null">
  	and date_format(a.create_time,'%Y-%m-%d') &gt;= #{startTime}
  	</if>
  	<if test="endTime != null">
  	and date_format(a.create_time,'%Y-%m-%d') &lt;= #{endTime}
  	</if>
  </select>
  
  <select id="selectParam" resultMap="resultMap">
  	select a.* from y23_user_shopping a
  	where 1=1
  	
  	<if test="isDelete == null">
  	and a.is_delete=0 
  	</if>
  	
  	<if test="orderId != null">
  	and a.orderId = #{orderId}
  	</if>
  	
  	<if test="userId != null">
  	and a.userId = #{userId}
  	</if>
  	
  	<if test="startTime != null">
  	and date_format(a.create_time,'%Y-%m-%d') &gt;= #{startTime}
  	</if>
  	<if test="endTime != null">
  	and date_format(a.create_time,'%Y-%m-%d') &lt;= #{endTime}
  	</if>
  	
  	<if test="orderBy != null">
  	order by ${orderBy}
  	</if>
  	<if test="page != null">
  	limit #{page}, #{pageSize}
  	</if>
  </select>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.lcm.entity.pojo.Y23UserShopping">
    insert into y23_user_shopping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="orderId != null">
        orderId,
      </if>
      <if test="receivername != null">
        receivername,
      </if>
      <if test="receivermobile != null">
        receivermobile,
      </if>
      <if test="receiverarea != null">
        receiverarea,
      </if>
      <if test="receiveraddress != null">
        receiveraddress,
      </if>
      <if test="express != null">
        express,
      </if>
      <if test="expressnum != null">
        expressnum,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="houseno != null">
        houseno,
      </if>
        is_delete,
        create_time,
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null" >
        #{id},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="orderId != null">
        #{orderId},
      </if>
      <if test="receivername != null">
        #{receivername},
      </if>
      <if test="receivermobile != null">
        #{receivermobile},
      </if>
      <if test="receiverarea != null">
        #{receiverarea},
      </if>
      <if test="receiveraddress != null">
        #{receiveraddress},
      </if>
      <if test="express != null">
        #{express},
      </if>
      <if test="expressnum != null">
        #{expressnum},
      </if>
      <if test="latitude != null">
        #{latitude},
      </if>
      <if test="longitude != null">
        #{longitude},
      </if>
      <if test="houseno != null">
        #{houseno},
      </if>
        0,
        now(),
        now()
    </trim>
  </insert>
  <update id="update" parameterType="com.lcm.entity.pojo.Y23UserShopping">
    update y23_user_shopping
    <set>
      <if test="userId != null">
        userId = #{userId},
      </if>
      <if test="orderId != null">
        orderId = #{orderId},
      </if>
      <if test="receivername != null">
        receivername = #{receivername},
      </if>
      <if test="receivermobile != null">
        receivermobile = #{receivermobile},
      </if>
      <if test="receiverarea != null">
        receiverarea = #{receiverarea},
      </if>
      <if test="receiveraddress != null">
        receiveraddress = #{receiveraddress},
      </if>
      <if test="express != null">
        express = #{express},
      </if>
      <if test="expressnum != null">
        expressnum = #{expressnum},
      </if>
      <if test="latitude != null">
        latitude = #{latitude},
      </if>
      <if test="longitude != null">
        longitude = #{longitude},
      </if>
      <if test="houseno != null">
        houseno = #{houseno},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>